
<div class="container">
    <h1>Welcome to Employee Information System</h1>
    <mat-divider></mat-divider>
    <div fxLayout="row" fxLayout.xs="column" fxFlexFill>

        <div fxFlex="20" fxLayout="column" fxLayoutAlign="start center" class="nav-links">
          <a mat-raised-button color="primary" routerLink="/">Home</a> <br/>
          <a id="addEmployee" mat-raised-button color="primary" routerLink="add-employee">Add Employee</a>
        </div>
        <div fxFlex="80" class="main-content" fxLayout="column" fxLayoutAlign.xs="start center"><router-outlet></router-outlet></div>
    </div>
</div>

