.container {
    max-width: 1280px;
    margin:auto;
    padding: 20px;
}
.nav-links {
    padding-top: 20px;
}
.nav-links a {
    margin-bottom: 20px;
    width: 125px;
}
h1 {
    text-align: center;
}
.main-content {
    padding-top: 20px;
}